body {
    background-color: black;
    scroll-behavior: smooth;
}

h2{
    font-size: x-large;
}

.gradient-gold {
    background: linear-gradient(90deg, #FBE134, #E4B61A);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 1); /*Cambia el borde del botón hamburguesa*/
}

nav {
    border-left: 5px solid #FBE134;
    border-right: 5px solid #E4B61A;
    border-bottom: 5px solid #FBE134;

}

.enlaces {  
    transition: background 1s ease-in-out, color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.enlaces:hover {
    background: linear-gradient(90deg, #FBE134, #E4B61A) !important;
    color: black !important;
}

.enlacesFooter{
    color: black !important;
}

.enlacesFooter:hover{
    color: red !important;
}

/*CLASES PARA SCROLLEAR HASTA EL NAV*/

/* Botón flotante */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top span {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg); /* Flecha hacia arriba */
}

/* Mostrar el botón cuando se haya hecho scroll */
.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

.card-mecanicas{
    width: 75%;
    height: auto;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
}

.card-video{
    width: 75%;
    height: auto;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.bg-oscuro{
    background: radial-gradient(circle, #212121, black);
}

.bg-claro{
    background: radial-gradient(circle, lightgrey,black );
}

.videos{
    border-radius: 30px;
}

